
body{
    background-image: url(/FC/kepek/flag.jpg);
}
.szoveg{
    margin: 80px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size:50px;
    text-align: justify;
}
.h1f{
    margin: 50px;
    font-size: 70px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
}