
body{
    background-image: url(kepek/flag.jpg);
}
.szoveg{
    margin-left: 400px;
    margin-right: 400px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size:40px;
    text-align: justify;
}
.h1f{
    margin-left: 700px;
    margin-right: 700px;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    text-align: center;
}
ul{
    font-size: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    color:white;
    
}


.arcade{
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: 25px;
}

.deathm{
    width: 1000px;
}
.arcadekep{
    margin-left: 200px;
   
}
.oldal{
    font-size: 30px;
    background-color: white;
    color: black;
    text-decoration: none;

   
}
.mapsz{
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 25px;
}
.h1m{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;
    background-color: black;
    border-radius: 25px;
    margin-left: 300px;
    margin-right: 300px;
}
.szovegm{
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: 40px;
}
.quiz{
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-right: 300px;
    font-size: 35px;
    text-align: justify;
    
}
.szovegk{
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    font-size: 40px;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kesz {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-right: 300px;
    
}

.kesz:hover {
    background-color: black;
}

.person {
    flex: 1;
    max-width: 30%;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.person:hover {
    transform: scale(1.05);
    background-color:white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    color: black;
}
.kerd{
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 25px;
}