.szovegm{
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: 40px;
}

.h1m{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;
}

body{
    background-image: url(/FC/kepek/flag.jpg);
}

h3{
    color: white;
    text-align: center;
}
h2{
    font-size: 35px;
    color: white;
}
h2.balra{
    text-align: left;
}
h2.kozepre{
    text-align: center;
}
h2.jobbra{
    text-align: right;
}